@model BlogFinalProject.Models.BlogUser
@*
    
*@
@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4"> Donates Cars to Those in Need</h1>
    <p>Christmas 2020 was shaping up to be a heartbreaker for Melanie Lee. A few weeks earlier, her 33-year-old son had lost his battle with a long illness. Then the transmission on her 2007 Chevrolet Tahoe conked out. She had no means of paying for it to be fixed.

“When it broke down, I broke down,” Lee told CNN. “Now I don’t have my baby, now I don’t have transportation. How am I supposed to stay active in my grandchildren’s lives?”

Enter Eliot Middleton, 38, the owner of a barbecue restaurant and former auto mechanic who, in his free time, repairs and gives away used cars. He’d heard about Lee’s predicament from her nephew Frank McClary, the mayor of Andrews, South Carolina (population 3,000). On Christmas morning, Middleton showed up unannounced at Lee’s home with a gift: a white 1993 Oldsmobile.

“I had no idea what was going on,” said Lee. “He handed me the keys and didn’t ask for anything.” Once again, she’s able to pick up her granddaughters from school and take them to dance class. “I got my freedom back.”

The idea for the used car giveaway came to Middleton a year earlier during a food drive he’d organized. Many of those who’d lined up for a meal walked up to four miles to get there because they didn’t have cars.

Cars are a lifeline in this part of South Carolina, Middleton told CBS. “There’s no public transportation, no Ubers, no taxis” to take people to job interviews, doctor appointments, even food shopping. So he posted on Facebook an offer to trade slabs of his restaurant’s specialty, barbecued ribs, for broken-down vehicles. Since then, friends and strangers have dropped off more than 100 cars in various states of disrepair. Many sit in Middleton’s yard waiting to be patched up and donated, usually to those he’s heard about through word of mouth. It’s a list of names that grows daily.</p>
</div>

<div class="text-center">
    <h1 class="display-4">I Used My Air Fryer Every Day for Two Weeks—and Found a Whole New Way of Eating  </h1>
    <p>
Your air fryer really can be an everyday appliance.

I was slow to jump on the air fryer train, thinking it was a gimmicky appliance (looking at you, quesadilla maker) that I had no room in my kitchen for. Then I found out that “air fryer” was a flashy name for “tiny high-powered convection oven that fits on your countertop and will change your life forever.” I bought this kitchen tool immediately and never looked back!

When I was a professional chef, the only ovens I ever used were convection ovens, which cook food by rapidly circulating hot air and maintain a more even temperature than a regular home oven. Then I became a professional recipe developer, working out of my own kitchen, and remembered why it’s so hard for home cooks to get restaurant-caliber results.

Even though they’re much smaller than professional convection ovens, there’s a lot you can do in an air fryer. To prove it, I spent two weeks cooking three meals a day for our family using only an air fryer.</p>
