@model BlogFinalProject.Models.BlogUser
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<div class= "text-md-center">
<h1>The 8 Habits of Highly Effective Bloggers</h1>

<p>Do you want to be a successful blogger?

I do. I might be getting a bit obsessed with it, actually.

Post ideas pop into my head unexpectedly. I keep a long running list of ideas for improving my blog.

I also study how the most successful bloggers got where they are, and I pore over every word that they write.

If you want to be a great blogger, you should, too.

A lot of the top bloggers like Brian Clark, Darren Rowse, and Leo
Babauta have shared hundreds of tips about how they made their blogs so successful. But each blogger’s tips are just a little different.
There’s too much advice to follow

So I would read one special report with a great idea and put that into place on my blog. But the next day I’d find a podcast from another top blogger with contradictory advice, so I’d change my blog again. Then I’d come across a third idea from an equally successful blogger, which sent me down a totally new path.

Finally I realized I needed to stop focusing on little things like what plug-ins to use, how to write my About Page, or where to position my ads.

I needed to focus on a bigger picture. I wanted to find out what all these top bloggers had in common. Their mindset, their mental habits.

I spent a lot of time observing, which led to this list of the eight success traits shared by all top bloggers I’ve found. I’m happy to share it with you.

The good news is that even if you don’t have all these personality traits already, most of them can be developed over time. Best of all, if you can cultivate these traits, you’ll become more effective in the rest of your life as well.
1. Effective bloggers are prolific

The first key to being a successful blogger is to write. A lot.

The more you write, the better your writing gets. The more posts you add to your blog, the more juice you’ll get from search engines. And more content means more reader visits to see what’s new.

There’s no way around it; it takes work to be prolific. Effective bloggers work hard. Putting a successful blog together requires a lot of time in front of your computer, and not surfing LOLCats or Twittering about what you had for lunch. Great bloggers put serious time into researching, writing, editing, and planning posts for their blogs.
2. Effective bloggers are concise

It is a truth universally acknowledged by top bloggers; people come to your blog for a reason. Usually because they want to learn something from you.

No one wants to read fluff or blather, especially online.

Top bloggers know how to quickly get people’s attention, how to keep it, and how to make their posts easy to digest.

Most effective bloggers tend toward short posts. They also divide their copy into short paragraphs, and use bullet points or numbered lists to keep the reader scanning. They use compelling subheads so readers can scan for the information they need.

Brevity comes in handy in other areas of life, too. Keep your phone calls short. Pare your email messages down to the essentials. You’ll have more time for creative work, and people will be much more interested in what you have to say.
3. Effective bloggers are analytical

Successful bloggers don’t work or live in a bubble.

They always look to their readers, observing carefully to see what readers care about and respond to.

They study their statistics, so they know where readers come from — what sites, what search engines, what search terms, and even what countries.

They know when they tend to get the most traffic, what kinds of posts are best suited for their audience, and what kinds of headlines get tweeted most often.

Then they tailor the timing, content, layout, and images of their posts to suit their audience.
4. Effective bloggers are lifelong learners

If you’re new to blogging, you’re probably on a steep learning curve at the moment.

Maybe you tell yourself that things will get better when you’ve been doing it longer. There won’t be so much to learn. You’ll have systems in place soon and everything will run smoothly.

Sadly, I think this is a myth. I’ve been using and designing for the Internet for about 15 years, and it keeps changing. Just when you’ve got one element sorted out, something new gets released. Or becomes obsolete. Or mutates in 20 different directions.

If you want to stay ahead in blogging, you have to keep learning.

Fortunately, being curious and wanting to learn keeps you young and your brain active. A love of learning doesn’t just set you up for a successful blog, but for a successful and happy life.
5. Effective bloggers are focused and consistent

Successful bloggers choose a topic and stick to it.

They write consistently about their chosen subject, and with a consistent voice and approach. Even when they write about something that seems to be off-topic, they relate it back to the niche they know their readers are interested in.

Top bloggers are also consistent about timing. Most stick to regular posting schedules. Whether they post three posts a day or two posts a week, their readers know what to expect.
6. Effective bloggers plan ahead

Successful bloggers know where they’re going. They have a master plan and they stick to it. Yes, they adapt based on feedback, but always in service of a vision.

To paraphrase Seth Godin’s recent book Linchpin, “Effective bloggers ship.” Top bloggers don’t waffle for months about the typeface on their upcoming ebook. They may tailor the angle, price, or format to better suit their market. But they don’t let themselves get derailed. They follow the plan.
7. Effective bloggers are persistent

Top bloggers understand that success doesn’t happen overnight. Real success rarely happens quickly.

Time is on your side. To get to the top takes consistency, hard work, serious study, and lots of persistence. Successful bloggers don’t give up.
8. Effective bloggers are self-starters

I’ve been self-employed for years.

I’ve noticed a lot of people like the idea of working from home, working for themselves, being their own boss. But if you want these things, you need to be able to manage yourself.

No one is going to sack you if you’re late. No one reminds you of important deadlines or nags you to get your sales numbers up.

If you want to be a successful blogger, you need to be a self-starter. It’s not enough to have good ideas. You have to act on them.
What trait do you think is most valuable?

What do you think the most important trait of a top blogger is? It might be one of these eight, or something completely different. Let us know in the comments!</p>
</div>
