@model BlogFinalProject.Models.BlogUser
@*
  
*@
@{
    Layout = "_Layout";
}
<div class="text-center">
    <h1 class="display-4"> Pat Flynn</h1>
    <p>When the economy collapsed in 2008, the architecture industry was hit hard, and Pat was laid off.
Serendipitously, he realized there were thousands of visitors on his blog every day and soon grew the blog into one of the most well-known blogs in the internet marketing space.
Today, SPI is no longer a personal blog and has evolved into an academy for marketers and entrepreneurs.
Pat started this personal blog to document his journey, talk about his personal interests, and promote his products and services</p>
</div>
