@model BlogFinalProject.Models.BlogUser

@{
    Layout = "_Layout";
}
<div class = "text-center">
 <h1 class="card-title">Let's Find Solutions</h1>
<p>We can build a family together, this is not for finding the girl of your dreams but more so finding who you are as a person and connecting with people!
    Blogging has an opposite response to the world and beyond sharing life stories, dreams and so on. Being creativate is one way of connecting to people. Beliefs and 
    culturally gifted is another. There are other ways of reaching out to people besides music and art. The words and stories also paint a picture that we either connect or never forget
</p>
</div>